
h1 {
  font-family: serif;
  text-align: center;
  font-size: 25px;
  border: 30px solid #15444c;
  background: #15444c;
  color: white;
  margin-top: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  clear: both;
}

header {
  margin: 0px;
  padding: 0px;
}

footer {
  width: 100%;
  color: black;
  text-align: center;
  background-color: #fec9aa;
  padding: 50px 0;
  height: relative;
  position: relative;
}

.footerImg {
  width: 25px;
  height: 25px;
  padding-right: 20px;
  position: center;
}

ul.menu {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  list-style-type: none;
  margin-top: 15px;
  padding: 0px;
  overflow: hidden;
  background-color: #fec9aa;
}

li.menu1 {
  float: left;
  white-space: pre-wrap;
  height: 40px;
}

a li {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 50px;
  padding-top: 50px;
  padding-bottom: 35px;
  text-decoration: none;
}

a li:hover {
  background-color: #000000;
  font-size: large;
  color: white;
}

.heading {
  padding-top: 0px;
}

.logo {
  width: 130px;
  height: 130px;
  float: left;
}
body {
  background-color: #f69700;
  margin: 0;
  padding: 0;
}
